$desktop-pics-paddings: (
  null: (50px, 0, 50px, 0),
  small: (60px, 0, 60px, 0),
  medium: (68px, 0, 68px, 0),
);

.desktop-pics {
  @include element-indent($desktop-pics-paddings, 'padding');

  background-color: #000;
  color: #fff;

  img {
    width: 100%;
  }
}
