.mobile-pics
  .container
    .two-colls
      .two-colls__item
        - var cardTitle = 'Represent  your style with your Instagram profile'
        - var cardSubTitle = 'Create your shots using universal square size templates and editing them up to you';
        - var cardTag = '120 posts'
        - var cardImage = 'Image1'
        include mobile-card
      .two-colls__item
        - var cardTitle = 'Represent  your style with your Instagram profile'
        - var cardSubTitle = 'Create your shots using universal square size templates and editing them up to you';
        - var cardTag = '120 stories'
         - var cardImage = 'Image2'
        include mobile-card  
